<div class="myTripsPage">
  <h1>My Trips</h1>
  @if(myTrips().length === 0) {
    <p class="emptyMessage">You have no trips booked yet.</p>
  }
  @else{
    <div class="tripsList">
      @for(trip of myTrips(); track trip.id)
      {   
        <div class="trip-card">
          <img class="trip-image" [src]="trip?.image" [alt]="trip?.name" />

          <div class="trip-content">
            <h2 class="trip-title">{{ trip?.name }}</h2>
            <p class="trip-destination"> {{ trip?.destination }}</p>
            <div class="trip-footer">
              <button class="book-btn" [routerLink]="['../trip', trip?.id]" [queryParams]="{ Invited: true }">Viewing the trip</button>
            </div>
          </div>
      </div>    
      }
    </div>
  }  
</div>
