<div class="allTrips">
    <h1>The best value trips on the market!</h1>
    <div class="addTrip">
        @if(isAdmin){
            <button (click)="addTrip()">Add a trip</button>
        }
    </div>
    <div class="filters">
        <input type="text" placeholder="Filter by destination" [(ngModel)]="filterDestination" (ngModelChange)="filterDestination.set($event)">
        <input type="date" [(ngModel)]="filterDate" (ngModelChange)="filterDate.set($event)">
        <select [(ngModel)]="sortBy" (ngModelChange)="sortBy.set($event)">
            <option value="">No sorting</option>
            <option value="date">Sort by date</option>
            <option value="price">Sort by price</option>
        </select>
    </div>
    <div class="listTrips">
        @for(trip of trips(); track trip.id)
        {
            <app-trip-card 
                [trip]=trip
                (deleted)="onTripDeleted($event)">
            </app-trip-card>
        }
    </div> 
</div>

