<div class="allTrips">
    <h1>The best value trips on the market!</h1>
    <div class="addTrip">
        @if(isAdmin){
            <button (click)="addTrip()">Add a trip</button>
            @if(canAddTtip()){
                <app-add_and_edit></app-add_and_edit>
            }
        }
    </div>
    <div class="listTrips">
        @for(trip of trips(); track trip.id)
        {
            <app-trip-card 
                [trip]=trip
                (deleted)="onTripDeleted($event)">
            </app-trip-card>
        }
    </div> 
</div>

