<div class="homePage">
    <div class="Header">
        <h1> hello {{userName}}!</h1>
        <div class="buttons">
            <button [routerLink]="'allTrips'" routerLinkActive="active-link">All Trips</button>
            <button [routerLink]="'myTrips'">My Trips</button>
            <button (click)="logout()">Logout</button>
        </div>
        
    </div>
    <div class="welcome-section">
        <h2>ברוכים הבאים להזמנת טיולים</h2>
        <p>אצלנו תמצאו חוויה מהנה ומרגשת של טיולים מדהימים ברחבי העולם</p>
        <p>בחרו מתוך מגוון יעדים מרתקים וצאו להרפתקה של פעם בחיים!</p>
    </div>
    <router-outlet></router-outlet>
</div>
