<div class="trip-card">
  <img class="trip-image" [src]="trip()?.image" [alt]="trip()?.name" />

  <div class="trip-content">
    <h2 class="trip-title">{{ trip()?.name }}</h2>
    <p class="trip-destination"> {{ trip()?.destination }}</p>

    <div class="trip-footer">
      <button class="book-btn" [routerLink]="['../trip', trip()?.id]">Viewing the trip</button>
    </div>
    @if(isAdmin){
         <div class="Admin_permissions">
           <button (click)="toDelete.set(true)">Delete</button>
            <button>Editing</button>      
         </div>
         @if(toDelete()){
          <div class="mini-popup">
              <h3>Are you sure you want to delete this trip?</h3>
              <div class="popup-actions">
                <button class="confirm-btn" (click)="deleteTrip()">Yes</button>
                <button class="cancel-btn" (click)="toDelete.set(false)">No</button>        
              </div>
              @if(errorToDelete()) {
                  <p class="error-message">{{ errorToDelete() }}</p>
                }
          </div>
         }
    }
   
    
  </div>
</div>