<div class="trip-card">
  <img class="trip-image" [src]="trip()?.image" [alt]="trip()?.name" />

  <div class="trip-content">
    <h2 class="trip-title">{{ trip()?.name }}</h2>
    <p class="trip-destination"> {{ trip()?.destination }}</p>

    <div class="trip-footer">
      <button class="book-btn" [routerLink]="['../trip', trip()?.id]">Viewing the trip</button>
    </div>
    @if(isAdmin && !isTripRegistered){
         <div class="Admin_permissions">
            <button (click)="deleteTrip()">delete</button>
            <button>editing</button>      
         </div>
    }
   
    
  </div>
</div>