@if (currentTrip()) {
  <div class="trip-container">
    <div class="trip-detail">
      <div class="trip-image">
        <img [src]="currentTrip()?.image" [alt]="currentTrip()?.name">
      </div>
      <div class="trip-content">
        <h1 class="trip-title">{{ currentTrip()?.name }}</h1>
        <div class="trip-info">
          <div class="info-item">
            <span class="label">Destination:</span>
            <span class="value">{{ currentTrip()?.destination }}</span>
          </div>
          <div class="info-item">
            <span class="label">Start Date:</span>
            <span class="value">{{ currentTrip()?.startDate }}</span>
          </div>
          <div class="info-item">
            <span class="label">End Date:</span>
            <span class="value">{{ currentTrip()?.endDate }}</span>
          </div>
          <div class="info-item">
            <span class="label">Price:</span>
            <span class="value price">${{ currentTrip()?.price }}</span>
          </div>
          <div class="info-item">
            <span class="label">Registered:</span>
            <span class="value">{{ bookingsCount() }}</span>
          </div>
        </div>
        <div class="trip-description">
          <h2>Trip Description</h2>
          <p>{{ currentTrip()?.description }}</p>
        </div>
        @if(!Invited){
           <div class="registration-section">
            <h2>Trip Registration</h2>
            <div class="registration-form">
              <label for="people">Number of People:</label>
              <input type="number" id="people" [(ngModel)]="numberOfPeople" min="1" max="50">
              <button (click)="register()" class="register-btn">Register</button>
          </div>
            @if (errorMessage()) {
            <p class="message" [class.error]="!errorMessage().includes('success')" [class.success]="errorMessage().includes('success')">{{ errorMessage() }}</p>
          }
          </div>
        }    
      
        <div class="trip-actions">
          <a routerLink="/home/allTrips" class="back-btn">Back to Trips</a>
        </div>
      </div>
        @if(Invited){
         <div class="Unsubscribe">
            <button class="register-btn" (click)="Unsubscribe()">Unsubscribe</button>     
         </div>
         @if(messageUnsubscribe()){
          <div class="unsubscribe-overlay">
            {{ messageUnsubscribe() }}
          </div>
        }
    }   
    </div>
   
  </div>
}

@if (!currentTrip()) {
  <div class="loading">
    <p>Loading trip details...</p>
  </div>
}